AIRFLOW_METADATA_DB_USER=airflow
AIRFLOW_METADATA_DB_PASSWORD=airflow
AIRFLOW_METADATA_DB_NAME=airflow

POSTGRES_USER=admin
POSTGRES_PASSWORD=testpassword
POSTGRES_DB=banking-analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=airflow@example.com

DBT_PROJECT_DIR=/opt/airflow/dbt/banking_analytics
DBT_PROFILES_DIR=/opt/airflow/dbt
DBT_TARGET=dev

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=banking-lakehouse
MINIO_REFERENCE_PREFIX=raw/reference
MINIO_REGION=us-east-1
MINIO_AWS_CONN_ID=minio
